<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <div class="text-faded text-call-to-action">
                    <p>
                        <em>We are dedicated to turning your vision into reality, regardless of the size. We infuse a unique artistic and cultural touch into your event, making it special and fresh.</em>
                    </p>
                    <p>
                        <em>Plus, we’re the perfect choice if you’re too busy to handle the planning details. Having a team from diversified backgrounds, we provide our clients hassle-free and meaningful event experiences by taking care of all planning and organizing tasks on request.</em>
                    </p>
                    <p>
                        <em>Welcome to get to know more about us on social media!</em>
                    </p>
                </div>
                <a href="#contact" class="btn btn-default btn-xl">Contact us</a>
            </div>
        </div>
    </div>
</section>
