<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-3 col-md-1 col-md-offset-4">
                <a href="tel:{{ site.phone }}">
                    <i class="fa fa fa-phone wow bounceIn text-white" data-wow-delay=".1s" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-xs-3 col-md-1">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o wow bounceIn text-white" data-wow-delay=".1s" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-xs-3 col-md-1">
                <a href="https://facebook.com/{{ site.facebook_username }}">
                    <i class="fa fa-facebook wow bounceIn text-white" data-wow-delay=".1s" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-xs-3 col-md-1">
                <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
                    <i class="fa fa-instagram wow bounceIn text-white" data-wow-delay=".1s" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>
