<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Turning Moments into Memories</h1>
      <hr />
      <p>
        Special plans, but no time? We’ve got you covered! <br /><br />
        At Tunnelma Event, we specialize in event planning for any group size,<br />
        from 2 to 200 people. No event is too small for us. Let us turn your
        unique ideas into unforgettable experiences.
      </p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll"
        >Find Out More</a
      >
    </div>
  </div>
</header>
